.pageButton{
    border: 0;
    background-color: rgb(164, 164, 240);
    font-size: 20px;
    width: 30px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}
.pageButton:hover{
    background-color: rgb(109, 109, 178);

}
.pageButton:last-child,
.pageButton:first-child{
    background-color: rgb(42, 42, 42);
    color: aliceblue;
    transition: color .2s,  background-color .2s ease-in-out;

}

.pageButton:last-child:hover,
.pageButton:first-child:hover{
    background-color: rgb(91, 91, 91);
    color: rgb(252, 252, 252);
}

.pageButton.active{
    transform: scale(1.2);
    background: radial-gradient(circle at 10% 20%, rgb(142, 224, 251) 0%, rgb(255, 121, 225) 100.7%);
    

}

.pageButton:disabled{
    color: #222;
    cursor: auto;
}

.pagesList{
    width: 100%;
margin: 20px 0;
display: flex;
justify-content: center;
column-gap: 30px;
}
