.image{
   
   max-width: 400px;
   border: 1px solid rgb(0, 68, 132);
    border-radius: 7px;
   transition: transform 0.3s ease-in-out;
}

.wrapper{
   width: 300px;
   height: 150px;
   
   background-image: url('../../Images/pngwing.com.png');
   background-size: 90px;
   background-repeat: no-repeat;
   background-position: center;
   background-color: aliceblue;
}
.image:hover{
   transform: scale(1.03);
   cursor: pointer;
}