.image{
   max-width: 50vw;
   border: 2px solid rgb(71, 71, 71);
    border-radius: 7px;
}

.wrapper{
   width: 300px;
   height: 150px;
   border-right: 2px solid black;
   background-image: url('../../Images/pngwing.com.png');
   background-size: 90px;
   background-repeat: no-repeat;
   background-position: center;
background-color: aliceblue;
}