.articleTop{
    padding: 50px;
    display: flex;
    row-gap: 30px;
    column-gap: 100px;
    border-bottom: 1px solid #333;
    text-align: center;
}

.title{
    max-width: 300px;
}

.img{
    border-radius: 10px;
    max-width: 700px;
}

.description{
    padding: 30px;
    font-size: 20px;
}

@media  (max-width:820px) {
    .articleTop{
        flex-direction: column;
        align-items: center;
        
    }
    
}