.categoryList{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    max-height: 150px;
    overflow-y: auto;
}
.categoryContainer{
    position: relative;

}
.category{
    max-width: 200px;
    margin: 5px 3px;
    padding: 8px 5px;
    border-radius: 10px;
    border: 1px solid #110950;
    text-align: center;
    background: radial-gradient(circle at 10% 20%, rgb(142, 224, 251) 0%, rgb(255, 121, 225) 100.7%);
    background-size: 100%;
    color: rgb(0, 75, 141);
    transition: all .2s ease-in-out;
}

.categoryContainer:hover .category{
    cursor: pointer;
    transform: scale(1.05);
    background-size: 150%;
    opacity: 0.2;
}



.categoryContainer::before
{
    display: block;
    content: '';
    position: absolute;
    background: url('../../img/cross.png');
    top:50%;
    left:50%;
    opacity: 0;
    transform:translate(-50%, -50%);
    background-size: contain;
    width: 35px;
    height: 35px;
    transition: all .2s ease-in-out;
}

.categoryContainer:hover::before{
    
    opacity: 1;
}