.newsBanner{
    
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
    margin-bottom: 50px;
    

}

.bannerImage{
    
    max-width: 400px;   
    
   border-radius: 10px;
  border: 1px solid rgb(0, 68, 132);
   border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}

.bannerImage:hover{
    transform: scale(1.03);
   cursor: pointer;
}



.newsBanner::after{
    display: block;
    content: '';
    height: 2px;
    width: 100%;
    margin-top: 10px;
    background: linear-gradient(68.7deg, rgb(29, 173, 235) 13.2%, rgb(137, 149, 250) 29.8%, rgb(229, 109, 212) 48.9%, rgb(255, 68, 128) 68.2%, rgb(255, 94, 0) 86.4%);
}

.title{
font-size: 18px;
}

.date{
font-size: 12px;
color: #444;
}

