.newsBanner{
    
    padding: 50px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:12px;
    
    transition: transform .2s ease-in-out;
}

.newsBanner.active{
    transform: scale(1.2);
}

.bannerImage{
    
    width: clamp(150px, 20vw, 400px);

    max-height: 300px;
   border-radius: 10px;
  border: 1px solid rgb(0, 68, 132);
   border-radius: 30px;
  transition: transform 0.3s ease-in-out;
}

.bannerImage:hover{
    transform: scale(1.03);
   cursor: pointer;
}





.title{
font-size:18px
}

.date{
font-size: 12px;
color: #444;
}

@media  screen and (max-width:900px) {
    .title{
        font-size:13px;
        width: 150px;
        }
        .date{
            font-size: 12px;
            color: #444;
        width: 120px;

        }
}


@media  screen and (max-width:700px) {
    .bannerImage{
    width: clamp(200px, 40vw, 400px);
        
    }
    .title{
        font-size:15px;
        width: 250px;
        }
        .date{
            font-size: 14px;
            color: #444;
        width: 200px;

        }
}